<%- include("header") -%>

<section id="analytics">
    <div class="container-fluid stat-box">
        <h2>Analytics</h2>
        <div class="table-div">
        <table>

            <thead>
                <th>Full Url</th>
                <th>Short Url</th>
                <th>Clicks</th>
            </thead>
            <tbody>
                <% urls.forEach(url => { %>
              <tr>
                <td><a href="<%= url.longUrl %>" target="_blank"><%= url.longUrl %></a></td>
                <div class="copy-text"><td><a href="<%= url.shortUrl %>" target="_blank"><%= url.shortUrl %></a>
                <button id="<%= url.shortUrl %>" class="copy" onclick="copyToClipboard(this)">Copy
                  <i class="fa fa-clone"></i>
                </button>
                </td>
              </div> 
              <td><%= url.clicks %></td>
              </tr>
            <% }) %>
            </tbody>
    
    
        </table>
    </div>
</div>
</section>
<%- include("footer") -%>
